* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

header {
  padding: 20px;
  text-align: center;
  background: #0E0F19;
  color: #fff;
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  background-color: #23eb76;
  margin-bottom: 6px;
}

header nav a {
  margin: 0 10px
}

nav p {
  padding: 14px 20px;
  text-decoration: none;
}

.hero {
  height: 150px;
  background-color: pink;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  /* display: flex; */
  max-width: 88%;
  margin: 0 auto;
  /* trick for centre */
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

section>h2 {
  flex-basis: 25%;
  text-align: right;
  padding-right: 20px;
  border-right: 3px solid black;
  font-size: 36px;
}

section>div {
  flex-basis: 75%;
  padding-left: 10px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work a {
  display: flex;
  border: 5px solid black;
  min-height: 180px;
  max-height: 180px;
  margin: 0.5em;
  flex-basis: calc(50% - 1em);
  padding-bottom: 20px;
  font-size: 0.9rem;
}

.work a:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.project-1 {
  background-image: url("./Horiseon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding: 20px;
  text-align: center;
  background: #ffb245;
  color: #0b61f7;
}

/* Image Placeholders */
.sample-img {
  background-color: #cae9bd;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

/* 
header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #fc33ff;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #8dffe1;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #ff00ea;
  }
}